.project-page {
  flex-direction: column;
  padding: 1rem 5%;
  margin-top: 5%;

  .header-content {
    display: flex;
    flex-direction: row;
  }

  .text-zone {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
  }

  a {
    animation: fadeIn 1.5s 1s backwards;
  }

  i {
    font-size: 14px;
    color: #8d8d8d;
    animation: fadeIn 1.5s 1s backwards;
    margin-bottom: 1rem;
  }

  .project-main {
    width: 60%;
    object-fit: contain;
    animation: fadeIn 1.5s 1s backwards;
  }

  .project-img-group {
    animation: fadeIn 1.5s 1.3s backwards;
  }

    .project-img {
      position: relative;
      margin-top: 1rem ;
      object-fit: cover;
    }

  // .slideshow-button {
  //     // display: flex;
  //     // position: relative;
  //     // top: 50%;
  //     color: yellow;
  //   }
}

@media screen and (max-width: 1024px) {
  .project-page {
    .header-content {
      flex-direction: column;
    }

    .text-zone {
      width: 100%;
    }

    .project-main {
      width: 100%;
    }
  }
}