.about-page {
  position: relative;
  display: flex;
  left: 10rem;
  align-items: center;

  .text-zone {
    display: flex;
    flex-direction: column;
    max-width: calc(50% - 10rem);

    h1 {
      margin-left: -3rem
    }

    p {
    animation: fadeIn 1.5s backwards;

      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }

      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }

      &:nth-of-type(3) {
        animation-delay: 1.2s;
      }
    }
  }

  .sun {
    z-index: -1;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background: #969696;
    box-shadow: 0 0 30px rgb(174, 174, 174);
    animation: fadeIn 1.5s 1s backwards;
  }

  .moon {
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background:#202020;
    animation: eclipse 120s infinite linear;
    transform-origin: 50% 150%;
    box-shadow: inset 0 0 50px rgba(69, 68, 68, 0.2);
  }

  @keyframes eclipse {
    0% {
      transform: rotate(-60deg);
    }
    90% {
      transform: rotate(70deg);
    }
    100%{
      transform: rotate(300deg);
    }
  }
}