.about-page {
  position: relative;
  padding: 1rem 5%;
  width: 100%;
  align-items: center;

  .text-zone {
    display: flex;
    flex-direction: column;
    max-width: 50%;
  }

  .sun {
    position: fixed;
    z-index: -2;
    margin: 3rem;
    width: 600px;
    height: 600px;
    left: 50%;
    border-radius: 50%;
    background: #969696;
    box-shadow: 0 0 30px rgb(174, 174, 174);
    animation: fadeIn 1.5s 1s backwards;
  }

  .moon {
    z-index: -1;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: #202020;
    animation: eclipse 120s infinite linear;
    transform-origin: 50% 150%;
    box-shadow: inset 0 0 50px rgba(69, 68, 68, 0.2);
  }

  @keyframes eclipse {
    0% {
      transform: rotate(-60deg);
    }
    80% {
      transform: rotate(90deg);
    }
    90% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(300deg);
    }
  }
}

@media screen and (max-width: 1024px) {
  .about-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;

    .text-zone {
      max-width: 100%;
    }
  }
}
