@import '../../App.scss';

.nav-bar {
  background: $black;
  display: flex;
  flex-direction: column;
  width: 6rem;
  height: 100%;
  justify-content: space-between;
  z-index: 1;
  top: 0;
  position: sticky;

  .logo {
    display: block;
    padding: 8px 0;

    img {
      display: block;
      margin: 8px auto;
      width: 24px;
      height: auto;

      &.sub-logo {
        width: 50px;
      }
    }
  }

  .nav-bar-pages {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-weight: 500;

    a {
      position: relative;
      font-size: 22px;
      color: $grey;
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

      &:hover {
        color: $white;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }
    }

    a.home {
      &:after {
        content: 'HOME';
      }
    }

    a.about {
      &:after {
        content: 'ABOUT';
      }
    }

    a.skills {
      &:after {
        content: 'SKILLS';
      }
    }

    a.work {
      &:after {
        content: 'WORK';
      }
    }

    a.contact {
      &:after {
        content: 'CONTACT';
        letter-spacing: 1px;
      }
    }

    a.active {
      svg {
        color: $white;
      }
    }
  }

  .nav-bar-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 16px;
    font-size: 22px;
    color: $grey;
    height: 51px;

    &:hover svg {
      color: $white;
    }
  }
}

@media screen and (max-width: 768px) {
  .nav-bar {
    flex-direction: row;
    width: 100%;
    height: 5rem;
    bottom: 0;
    top: auto;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;

    .logo {
      display: flex;
      width: 51px;
      padding: 0;
    }

    .nav-bar-pages {
      flex-direction: row;
      justify-content: center;
      margin-top: -0.75rem;

      a {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        line-height: initial;
        width: 51px;

        &:hover {
          color: $white;

          svg {
            opacity: 1;
          }

          &:after {
            opacity: 1;
          }
        }

        &:after {
          opacity: 1;
          font-size: 7px;
          text-align: center;
        }
      }

      a.active {
        color: $white;
      }
    }

    .nav-bar-socials {
      display: none;
    }
  }
}
