.nav-bar {
  background: #181818;
  width: 6rem;
  height: 100%;
  justify-content: space-between;

  .logo {
    display: block;
    padding: 8px 0;

    img {
      display: block;
      margin: 8px auto;
      width: 24px;
      height: auto;

      &.sub-logo {
        width: 50px;
      }
    }
  }

  .nav-bar-pages {
    display: flex;
    text-align: center;
    width: 100%;
    font-weight: 500;

    a {
      font-size: 22px;
      color: #4d4d4e;
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

        &:hover {
        color: #fff;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }
    }

    a.home {
      &:after {
        content: 'HOME';
      }
    }

    a.about {
      &:after {
        content: 'ABOUT';
      }
    }

    a.work {
      &:after {
        content: 'WORK';
      }
    }

    a.contact {
      &:after {
        content: 'CONTACT';
        letter-spacing: 1px;
      }
    }

    a.active {
      svg {
        color: #fff;
      }
    }
  }

  .nav-bar-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 16px;
    font-size: 22px;
    color: #4d4d4e;
    height: 51px;

    &:hover svg {
      color: #fff;
    }
  }
}
